/* styles go here */
* {
  box-sizing: border-box;
}

.form {
  position: relative;
  border: 2px solid grey;
  padding: 10px;
}

.personal__item {
  margin-top: 10px;
}

.personal__info {
  padding: 0 2px;
  position: absolute;
  top: -12px;
  background-color: white;
}

.age {
  width: 70px;
}

.date {
  width: 135px;
}

.mt20 {
  margin-top: 20px;
}

.mt10 {
  margin-top: 10px;
}

.title {
  padding: 0 2px;
  position: absolute;
  top: -12px;
  background-color: white;
}
